	<HTML>
<TITLE>Registration</TITLE>
<BODY>
    <FORM ACTION="/register" METHOD="POST">
        <TABLE>
            <TR>
                <TD><IMG SRC="/images/k2-logo.jpg"></TD>
                <TD>    <h3>K2 Registration</h3>
                        <P>KEY: <INPUT TYPE="TEXT" NAME="regkey" SIZE="20"></P>
                        <P><INPUT TYPE="SUBMIT" VALUE="REGISTER" SIZE="20"></P></TD>
            </TR>   
        </TABLE>
    </FORM>
</BODY>
</HTML>